<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home.css">
    <script src="../static/js/home.js"></script>
    <title>home</title>
</head>

<body>

<section>
    <div>
        <a href="/login">
            <button type="button">Login</button>
        </a>
        <h1 class="title">titulo</h1>
        <p class="mensaje">mensaje</p>
        <p class="creator">creador</p>
        <p>Esta es mi pagina web</p>
        <p>esta quedando melo</p>
        <p>Muy melo como un ñero</p>

    </div>
</section>

</body>

</html>
